@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --dark-blue: #0a0a23;
    --purple: #5a01a7;
    --green: #00471b;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-blue);
    font-family: "Playfair Display", serif;
}

p, button {
    font-size: 1.1rem;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.container *  {
    color: white;
    text-align: center;
}

h1 {
    text-shadow: 3px 3px var(--purple);
    font-size: 3rem;
}

.form-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 2em 3em;
    border-bottom: 5px solid var(--purple);
}

.form-container * {
    color: var(--dark-blue);
    border: transparent;
}

.form-container, .info-container {
    width: 400px;
    max-width: 400px;
    border-radius: 15px;
}

.input-container {
    display: flex;
    justify-content: space-around;
    padding: 0.5em 1em;
    gap: 0.5em;
}

#check-btn, #text-input {
    font-family: "Playfair Display", serif;
}

#check-btn {
    flex-grow: 1;
    background-color: var(--purple);
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
}

#text-input {
    flex-grow: 3;
    border: transparent;
    font-size: 1rem;
    border-bottom: 2px solid var(--purple);
}

#result {
    margin-top: 3em;
    display: none;
}

.info-container {
    background-color: var(--green);
    padding: 1em 2em;
}